.anchorTag{
    text-decoration: none;
    background: #3f51b5;
    display: inline-flex;
    width:65px;
    height:65px;
    margin:10px 10px 0 10px;
    color:white;
    font-size: 20px;
    border:2px solid black;
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
}

.anchorContainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.updateBtn {
    cursor: pointer;
    color: white;
    height: 30px;
    width: 90px;
    margin: auto 10px;
    border-radius: 5px;
    background: #872e2e;
    font-size: 14px;
    padding-top: 4px;
    text-align: center;
  }
