.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000066;
  z-index: 100;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 200;
  top: 63%;
  left: 12%;
  width: 75%;
  height: 35%;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.textArea {
  height: 80%;
  width: 99%;
  resize: none;
  border-radius: 10px;
  font-size: 18px;
  bottom: 10px;
  border-color: grey;
}
.toolTipGrid {
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.733);
  border-radius: 5px;
  height: 15%;
  border: 2px solid grey;
}

.blogHead_interaction_text {
  color: #fff;
  margin-top: 5vw;
  width: 60%;
  font-weight: bold;
}

.iconTooltip {
  height: 30px;
  width: 35px;
}

.IconsMainGrid {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 3vh;
  width: 100%;
  gap: 8vw;
}

.particularIcon {
  cursor: pointer;
  color: gray;
}

.helperGrid_comment{
  display: flex;
  justify-content: flex-end;
  
}

.helperGrid_reply{
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
  .IconsMainGrid {
    gap: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .IconsMainGrid {
    gap: 1px;
    flex-wrap: wrap;
  }
  .helperGrid_comment{
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 400px) {
  .helperGrid_reply{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 700px) {
  .blogHead_interaction_text {
    display: none;
  }
}
