.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.loader .bar {
  width: 5px;
  height: 5px;
  background: black;
  margin: 2px 2px 2px 9px;
  border-radius: 50%;
  animation: bar 1s infinite linear;
}
.loader .bar:nth-child(1) {
  animation-delay: 0s;
}
.loader .bar:nth-child(2) {
  animation-delay: 0.1s;
}
.loader .bar:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bar {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(2);
  }
  50%{
    transform: scale(2.5);
  }
  100% {
    transform: scale(0.5);
  }
}
