.cover {
  background: #fff;
  border-radius: 20px;
  border-bottom: 1px solid gray;
  padding: 2px;
  cursor: pointer;
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  width: 100%
}

.cover:hover {
  background: black;
  color: #fff;
}

.img {
  height: 60px;
  border-radius: 50%;
  background: #fff;
  align-self: center;
}

.textCover {
  margin: 1vh 0 0 3vh;
  width:73%
}

.date{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  width: 20%;
  font-style: italic;
}
