.messageBox {
  border-radius: 20px;
  padding: 0px 12px;
  color: white;
  display: inline-block;
  max-width: 50%;
  min-width: 1vw;
  display: flex;
  flex-direction: row;
}

.you {
  color: white;
  width: 20%;
  font-weight: bold;
  text-align: right;
  margin: 2vh 0 0 3vh;
  box-sizing: border-box;
}

.online {
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  background-color: green;
  margin: 3vh 0 0 6vh;
  box-sizing: border-box;
}

.messageText {
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  width: 100%;
  min-width: 0vh;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  margin-top: 5px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: white;
  letter-spacing: 0.3px;
}

.pl {
  padding-left: 10px;
}

.pr {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorLight {
  color: rgb(252, 252, 252);
}

.colorDark {
  color: #fff;
}

.backgroundBlue {
  background: #2979ff;
  border-top-right-radius: 0px;
}

.backgroundLight {
  background: #32a852;
  border-top-left-radius: 0px;
}

.backgroundUser {
  background: #367ec9;
  width: 20vh;
}
.messages {
  width: 100%;
  box-sizing: border-box;
}
.scroll_messages {
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  padding: 2vh 0px;
  box-sizing: border-box;
}

.input {
  height: 6vh;
  width: 95%;
  margin-left:2px;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
  padding-left: 1vh;
  border: 2px solid white;
  background: black;
  color: #fff;
}

.input::placeholder {
  color: #fff;
}
.input:focus {
  box-shadow: 0 0 3pt 2pt #36279c;
}

.Avatar {
  margin: 1.2vh 1vh 0 0;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}
