.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 0px 12px;
    color: white;
    display: inline-block;
    max-width: 45%;
    min-width: 0vh;
    display: flex;
    flex-direction: row;
  }

  .you{
    color:red;
    font-weight: bold;
    text-align:right;
    margin : 2vh 0 0 6vh
  }

  .online{
    height: 2vh;
    width:2vh;
    border-radius: 50%;
    background-color: green;
    margin : 3vh 0 0 6vh
  }

  .messageText {
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
    width: 100%;
    min-width: 0vh;
  }

  .messageText img {
    vertical-align: middle;
  }

  .messageContainer {
    display:flex;
    width:28vh;
    padding: 0 5%;
    display: 'inline-block';
    margin-top: 5px;
  }

  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }

  .pl {
    padding-left: 10px;
  }

  .pr {
    padding-right: 10px;
  }

  .justifyStart {
    justify-content: flex-start;
  }

  .justifyEnd {
    justify-content: flex-end;
  }

  .colorLight {
    color: rgb(252, 252, 252);
  }

  .colorDark {
    color: #353535;
  }

  .backgroundBlue {
    background: #2979FF;
  }

  .backgroundLight {
    background: #0fdf88;
  }

  .backgroundUser {
    background:rgb(54, 70, 112);;
  }
