.square {
  width: 150px;
  height: 150px;
  position: relative;
  perspective: 200px;
  margin:auto;
  padding:auto;
}

.square div {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;
  background: coral;
  animation: flip 2s linear infinite;
  transform-origin: right bottom;
}

.square div:nth-child(2) {
  animation-delay: 1s;
  opacity: 0.5;
}

@keyframes flip {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  25% {
    transform: rotateX(0) rotateY(180deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: rotateX(180deg) rotateY(0);
  }
  100% {
    transform: rotateX(0) rotateY(0);
  }
}
