
.name {
  font-family: Fira Sans, sans-serif;
  font-weight: 800;
  font-size:180%;
}
@media only screen and (max-width: 800px) {
  .name {
    font-size:120%;
  }
}
.pic {
  height: 75px;
  border-radius: 50px;
  margin-right: 10px;
}

.iconImg{
  width:20%;
  margin:5px;
}
