.Name {
  width: 25%;
}

.Institution {
  width: 50%;
}

.Codeforces-Handle {
  width: 30%;
}

.CodeForces-Profile-Link {
  width: 67%;
}

.Designation,
.Moto,
.Codechef-Profile-Link,
.Atcoder-Profile-Link,
.LinkedIn-Profile-Link,
.Github-Profile-Link {
  width: 48%;
}

.Country {
  width: 20%;
}

@media only screen and (max-width: 500px) {
  .Name,
  .Institution,
  .Codeforces-Handle,
  .CodeForces-Profile-Link,
  .Designation,
  .Moto,
  .Codechef-Profile-Link,
  .Atcoder-Profile-Link,
  .LinkedIn-Profile-Link,
  .Github-Profile-Link,
  .Country {
    width: 100%;
  }
}
