@keyframes spinner {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.wraped {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: absolute;
  overflow:hidden;
}


.spinneer {
  min-width: 100px;
  min-height: 100px;
  border: 20px solid rgba(255,255,255,.1);
  border-right: 20px solid orange;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
