.wrapper{
  padding: 1vh;
  text-align: center;
  align-items: center;
  cursor:pointer;
}

.wrapper p{
  color:#fff;
  cursor:pointer;
  font-size: 19px;
  font-family: edgwick Ave Display,cursive
}

.wrapper:hover{
  text-decoration: underline wavy #32a86d;
  text-decoration-thickness: 2px;
}

.header{
  display: flex;
  justify-content: space-around;
  width:20%;
  float: right;
  top:0;
}
