.navButton {
  cursor: pointer;
  color: white;
  height: 25px;
  width: 80px;
  margin: auto 10px;
  border-radius: 5px;
  background: #872e2e;
  font-size: 12px;
  padding-top: 4px;
  text-align: center;
}

.navButton:hover{
  background-color: black;
  border:2px solid white
}

.navSelect {
  border-radius: 7px;
  background: #fff;
  position: relative;
  font-size: 12;
  width: 90px;
  height: 25px;
  cursor: pointer;
  color: #1f273d;
  margin: auto 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}

.mainGrid {
  display: flex;
  margin: 25px 0 0 25px;
  text-align: center;
}

@media only screen and (max-width: 1310px) {
  .mainGrid {
    margin: -10px 0 0 25px;
  }
}

@media only screen and (max-width: 840px) {
  .mainGrid {
    margin: 10px 0 0 25px;
  }
  .navSelect{
    margin: auto 2px;
  }
}
